<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <base href="/">
</head>
<body style="height: 100%; overflow: hidden">
  <div class="main-area">
    <ngx-loading [show]="_isLoading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
  </div>
  <ckeditor class="text-area" [(ngModel)]="documentContent" debounce="500" [config]="_editorConfiguration">
    <ckbutton [name]="'saveButton'"
              [command]="'saveData'"
              (click)="saveData()"
              [icon]="'https://png.icons8.com/ios/100/000000/save-filled.png'"
              [label]="'Save'"
              [toolbar]="'editing,1'">
    </ckbutton>
    <ckbutton [name]="'resetButton'"
              [command]="'resetData'"
              (click)="resetData()"
              [icon]="'https://png.icons8.com/ios/50/000000/synchronize-filled.png'"
              [label]="'Reset Content'"
              [toolbar]="'editing,1'">
    </ckbutton>
  </ckeditor>
</body>
</html>
